---
layout: home
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="post">
    <div class="date">{{ post.date | date: "%A, %B %-d, %Y" }}</div>
    <div class="permalink">
        <a href="{{ post.url }}">&#x2756;</a>
    </div>
    <div class="regular">
      <h2>{{ post.title }}</h2>
      {{ post.content }}
    </div>
  </div>
{% endfor %}

<!-- Pagination links -->
<div id="endnav">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  •
  <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  •
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
